[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
onnxruntime = "*"
pillow = "*"
psycopg2-binary = "*"
django-environ = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
