[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
drf-yasg = "*"
django = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
onnxruntime = "*"
dj-database-url = "*"
cloudinary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
